<div class="container bg-light p-5 col-md-8 mx-auto rounded">
    <h1>New Post</h1>
	<div class="container">
    <%= form_for :post, url: posts_path do |form| %>
    <% if @post.errors.any? %>
        <% @post.errors.full_messages.each do |msg| %>
            <div class="alert alert-danger"><%= msg %></div>
        <% end %>
    <% end %>
      <div class="mb-3">
        <%= form.label :title %>
        <%= form.text_field(:title, {:class => 'form-control'}) %>
      </div>
	    <div class="mb-3">
			<%= form.label :theme %>
			<%= form.select :theme, ['common', 'sport', 'science', 'games', 'technique'], selected: 'common', class: "form-select"%>
		</div>
		<div class="mb-3">
        <%= form.label :body %>
        <%= form.text_area(:body, {:class => 'form-control', :style => 'height: 200px'}) %>
		</div>

      <div class="mb-3">
        <%= form.submit('Add Post' ,{:class => 'btn btn-outline-success'}) %>
		</div>
    </div>
    <% end %>
</div>