<div class="container bg-light p-5 col-md-8 mx-auto rounded">
	<h2><%= @post.title%></h2>
	<h6><%= @post.theme %></h6>
	<div class="container">
		<p style="text-align: justify;"><%= @post.body%></p>
		<h6>by <%= @post.author.username %></h6><hr>
		<% if policy(@post).update? %>
			<%= link_to "Edit", edit_post_path(@post), :class => 'btn btn-outline-warning' %>
		<% end %>
		<% if policy(@post).destroy? %>
			<%= link_to "Delete", post_path(@post), method: :delete, data: {confirm: 'Are you sure to delete post?'}, :class => 'btn btn-outline-danger' %>
		<% end %>
		<br><br>
		<%= render 'comments/comments' %>
	</div>
		<% if policy(@post).login? %>
			<%= render 'comments/form' %>
		<% end %>
</div>